#colophon .footer-bg{background: #1f2025;}
.col-12 .list-hg{line-height: 45px;}
body .feature-box p{color: grey;}
.product-name a{font-size: 1.28571429rem;}
.box-bt{margin-bottom: 50px;}
.header {position: fixed;right: 0;left: 0;z-index: 1030;display: block;}
.color-scheme-one .active{color: #f13a3a;}
body .feature-box h2 .h-color{color: #000;}
.footer-address img{width:18px; height: 18px; margin-right:10px;}
.footer-phone img{width:18px; height: 18px; margin-right:10px;}
.footer-email img{width:18px; height: 18px; margin-right:10px;}
.footer-widgets-area{background: #f3f3f3;padding-top:30px;}
.mt-half{margin-top:50px;margin-bottom: 10px;}
